<%= render "components/header"%>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2luZW1hfGVufDB8fDB8fA%3D%3D&w=1000&q=80');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container mt-5 mb-5">
<div class="alert position-relative alert-dark alert-dismissible fade show d-flex justify-content-between align-items-center mt-5" style="margin-top:-30px" role="alert">
  <div>Take a look to your movies</div>
  <%= link_to "Add a new movie", new_list_bookmark_path(@list), class: "btn btn-dark align-self-top" %>
</div>
<div class="d-flex flex-wrap justify-content-center">
<% @list.movies.each do |movie| %>
<% @bookmark = Bookmark.find_by(list: @list, movie: movie) %>
<div class="card-product m-4">
  <img src="https://cdn.pixabay.com/photo/2012/08/27/22/59/movie-projector-55122__340.png" />
  <div class="card-product-infos">
    <h2><%= movie.title %></h2>
    <p><%= movie.overview %></p>
    <p>Comment: <%= @bookmark.comment %></p>
    <br>
    <%= link_to "Edit", edit_list_bookmark_path(@list, @bookmark), class: "btn btn-warning align-self-top"%>
  </div>
</div>
<% end %>
</div>
</div>
