<%= render "components/header"%>
<div class="container mt-5 p-3">
<h1 class="mb-5">Edit the movie</h1>
<div class="border p-3">
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.association :movie%>
  <%= f.input :comment %>
  <%= f.submit class: 'btn btn-dark'  %>
<% end %>
<div class="alert position-relative alert-warning alert-dismissible fade show d-flex justify-content-between align-items-center m-5 mb-0" style="margin-top:-30px" role="alert">
  <div><strong>Delete?</strong> You will lose your comment for this movie.</div>
  <%= link_to "Delete", list_bookmark_path(@bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger align-self-top", style: "color:white" %>
</div>
</div>
</div>
